
/* Box Model Hack */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

:root {
   --bg-color: #12152C;
   --text-color: #fff;
   --flex-color: #6eddfc;
   --blue: oklch(from var(--flex-color) .67 .15 220)
}

.container {
    width: min(1100px, 95%)
    margin-inline: auto;
    padding-inline: 1rem;
}


body {
    padding:3rem;
    text-align: center;
    background-color: var(--bg-color);
    color: var(--text-color)
}

button {
    margin-top: 2rem;
    background-color: var(--blue);
    padding: 1rem;
    width:100%;
    color: white;
    font-weight:bold;
}

.flex-container {
    border: 5px dotted white;
    width: min(1100px, 95%);
    display: flex;
    gap: 1rem;

}

.flex-container .card {
    margin: 1.5rem;
    padding: 2rem;
    background-color: oklch(from var(--flex-color) .4 .07 230);
    border: 2px solid var(--blue);
    border-radius: .8rem;
    text-align: center;
    container-type: inline;
    display:flex;
    flex-direction: column;
}
.title {
    color: var(--blue);
    font-size: clamp(1.1rem, 2cqi, 1.6rem);
}