
/* Box Model Hack */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

:root {
   --bg-color: #12152C;
   --text-color: #fff;
   --flex-color: #6eddfc;
   --blue: oklch(from var(--flex-color) .67 .15 220);
   --grid-color: #fc8cd0;
   --purple-bg: oklch(0.28 0.06 300);
   --pink: oklch(0.72 0.16 345);

}

.container {
    width: min(1100px, 95%);
    margin-inline: auto;
    padding-inline: 1rem;
}

hr {
    margin-block: 3rem;
}

body {
    padding:3rem;
    text-align: center;
    background-color: var(--bg-color);
    color: var(--text-color)
}


.flex-container {
    border: 5px dotted white;
    width: min(1100px, 95%);
    display: flex;
    gap: 1rem;

}

.flex-container .card {
    margin: 1.5rem;
    padding: 2rem;
    background-color: oklch(from var(--flex-color) .4 .07 230);
    border: 2px solid var(--blue);
    border-radius: .8rem;
    text-align: center;
    container-type: inline;
    display:flex;
    flex-direction: column;
    flex:1;
}

.flex-container .title {
    color: var(--blue);
    font-size: clamp(1.5rem, 2cqi, 1.8rem);
    margin-bottom: .5rem;
}

.flex-container .card p {
    margin-bottom: 1rem;
    flex-grow: 1;
}

.flex-container button {

    background-color: var(--blue);
    padding: 1rem;
    width:100%;
    color: white;
    font-weight:bold;
    border:none;
    border-radius: .5rem;
}



/* GRID */
.grid-container{
    border: 5px dotted white;
    width: min(1100px, 95%);
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;

}
#one {
    width: min(1100px, 95%);
    border: 5px dotted white;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.grid-container .card {
    margin: 1.5rem;
    padding: 2rem;
    background-color: var(--purple-bg);
    border: 2px solid var(--pink);
    border-radius: .8rem;
    text-align: center;
    display:grid;
    grid-template-rows: auto 1fr auto;

    gap: 1rem;

}

.grid-container .title {
    color: var(--pink);
    font-size: clamp(1.5rem, 2cqi, 1.8rem);
    margin-bottom: .5rem;
}

.grid-container .card p {
    margin-bottom: 1rem;
}

.grid-container button {
    margin-top: auto;
    background-color: var(--pink);
    padding: 1rem;
    width:100%;
    color: white;
    font-weight:bold;
    border:none;
    border-radius: .5rem;
}


/* using CSS Grid with
grid-template-rows: auto 1fr auto
is a great way to keep the footer at the bottom 
but Flexbox can handle this too

display: flex;
  flex-direction: column;

main{
  flex: 1;
} */


/* Flex card */
.flex-card {
    width: min(1200px, 95%);
    padding: 1.5rem;
    margin:auto;
    background-color: oklch(from var(--flex-color) .4 .07 230);
    border: 2px solid var(--blue);
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}

.flex-card .tag {
    background-color: var(--blue);
    padding: .5rem 1rem;
    border-radius: .2rem;
}

/* Grid card */
.grid-card {
    margin: 50px auto;
    width: min(600px, 95%);
    background-color: var(--purple-bg);
    border: 2px solid var(--pink);
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 0.75rem;
}


.grid-card .tag {
    background-color: var(--pink);
    padding: .5rem 1rem;
    border-radius: .1rem;
    display:inline;

}


/* Grid Image card */
.grid-image {
    margin: 50px auto;
    width: min(600px, 95%);
    background-color: var(--purple-bg);
    border: 2px solid var(--pink);
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 0.75rem;
}

.grid-image .card {
  border: 1px solid #0003;
  border-radius: 16px;
  overflow: hidden;
}

.card-media {
    height: 240px;
    width: 100%;
    overflow: hidden;
}

.card-media img {
    width: 100%;
    height:100%;
    object-fit: cover;
    display: block;
}