
/* Box Model Hack */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    padding: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

img {
  border: 1px solid green;
}

article.card {
  display: flex;
  border: 1px solid red;
  padding: 1rem;
  background-color: #FEF8EF;

}

/* header {
    margin: 50px 0;

} */

.container {
    max-width: 1100px;
    width: 100%;
    resize: horizontal;
    position: relative;
    overflow: auto;
    border: 1px solid black;
    padding: 1rem;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 18rem), 1fr)) */
}


.card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
}

.card-content {
  flex: 1;
  flex-direction: column;
  margin: 1rem;
}

img {
    border-radius: 8px 8px 0 0;
    margin: 1rem;
}

button {
    padding: 1rem 2rem;
    margin: .5rem;
    width: 50%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    font-weight: bold;
}

.green {
    background-color: green;
    color: white;
}

.white {
    background-color: white;
    color: black;
}